<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Online Courses, ​An Effective Education, ​Online learning, Core Values, ​Get critical career skills, ​Get our free newsletter+ bonus content">
    <meta name="description" content="">
    <title>Prepration</title>
    <link rel="stylesheet" href="Divyansh.css" media="screen">
<link rel="stylesheet" href="Prepration.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="Divyansh.js" defer=""></script>
    <meta name="generator" content="Divyansh 6.5.3, Divyansh.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/f598ee10179fe7a47ffea40ce625b21d.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Prepration">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-grey-5 u-header u-header" id="sec-4ddd"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-1"></div>
        <a href="https://Divyansh.com" class="u-image u-logo u-image-1" data-image-width="250" data-image-height="400">
          <img src="images/f598ee10179fe7a47ffea40ce625b21d.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="/" style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="/preperation" target="_blank" style="padding: 10px 0px;">Prepration</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-grey-5 u-hover-grey-25 u-nav-link">Coding</a>
</li><li class="u-nav-item"><a href = "https://www.indiabix.com/aptitude/questions-and-answers/" class="u-button-style u-grey-5 u-hover-grey-25 u-nav-link">Aptitude</a>
</li><li class="u-nav-item"><a href="https://www.indiabix.com/english/questions-and-answers/" class="u-button-style u-grey-5 u-hover-grey-25 u-nav-link">English</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="/placed" style="padding: 10px 0px;">Placed Students</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="/eligibility" style="padding: 10px 0px;">Eligibility</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Prepration.html" target="_blank">Prepration</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"><li class="u-nav-item"><a class="u-button-style u-nav-link">Coding</a>
</li><li class="u-nav-item"><a href="https://www.indiabix.com/aptitude/questions-and-answers/" class="u-button-style u-nav-link">Aptitude</a>
</li><li class="u-nav-item"><a href="https://www.indiabix.com/aptitude/questions-and-answers/" class="u-button-style u-nav-link">English</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Placed-Students.html">Placed Students</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Eligibilty.html">Eligibility</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>

        <%if(currentUser){%>
          <a href="/logout" class="u-border-2 u-border-active-white u-border-grey-75 u-border-hover-black u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-1">Logout</a>
        <%} else{%>
          <a href="/signup" class="u-border-2 u-border-active-white u-border-grey-75 u-border-hover-black u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-1">Signup</a>
        <a href="/login" class="u-border-2 u-border-active-white u-border-grey-75 u-border-hover-black u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-2">Login</a>
        <%}%>

        <a href="Signup.html" class="u-border-2 u-border-active-white u-border-grey-75 u-border-hover-black u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-1">Signup</a>
        <a href="Login.html" class="u-border-2 u-border-active-white u-border-grey-75 u-border-hover-black u-btn u-btn-round u-button-style u-palette-2-base u-radius u-btn-2">Login</a>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="carousel_36d8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> How can we help you?</h2>
        <p class="u-align-center u-text u-text-2">We provide you with all the necessary skills you require to excell<br>in placements!!
        </p>
        <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1380" data-image-height="920">
                    <div class="u-container-layout u-container-layout-1"></div>
                  </div>
                  <div class="u-container-align-left u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <h3 class="u-align-left u-text u-text-3">Aptitude</h3>
                      <p class="u-align-left u-text u-text-4"> Aptitude skills, encompassing logical reasoning, problem-solving, and critical thinking abilities, are essential for navigating the challenges of job placements, demonstrating adaptability and agility in various scenarios.</p>
                      <a target="_blank" href="https://www.indiabix.com/aptitude/questions-and-answers/" class="u-active-white u-align-left u-border-2 u-border-active-palette-1-base u-border-black u-border-hover-grey-50 u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-radius-50 u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-direction="">learn more </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-align-left u-container-style u-layout-cell u-palette-2-base u-size-30 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <h3 class="u-align-left u-text u-text-5">Coding </h3>
                      <p class="u-align-left u-text u-text-6"> Proficiency in coding is essential for job placement, demonstrating the ability to solve complex problems, automate tasks, and contribute effectively to the development of software solutions in various industries.</p>
                      <a href="https://www.geeksforgeeks.org/learn-data-structures-and-algorithms-dsa-tutorial/?ref=shm" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-radius-50 u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-direction="">learn more </a>
                    </div>
                  </div>
                  <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1380" data-image-height="920">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="1980" data-image-height="1085">
                    <div class="u-container-layout u-container-layout-5"></div>
                  </div>
                  <div class="u-container-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-6">
                    <div class="u-container-layout u-container-layout-6">
                      <h3 class="u-align-left u-text u-text-7">English</h3>
                      <p class="u-align-left u-text u-text-8"> Soft skills such as communication, teamwork, adaptability, and problem-solving are essential for navigating the dynamic challenges of the workplace and securing successful placements.</p>
                      <a href="https://www.indiabix.com/verbal-ability/questions-and-answers/" class="u-active-white u-align-left u-border-2 u-border-active-palette-1-base u-border-black u-border-hover-grey-50 u-btn u-btn-round u-button-style u-hover-white u-palette-2-base u-radius-50 u-btn-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-direction="">learn more </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-shading u-section-2" id="carousel_2138" data-image-width="6932" data-image-height="4680">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-black u-container-align-center u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-shape-rectangle u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-align-center u-text u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">112+</h3>
                <h3 class="u-align-center u-text u-text-2" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">112+</h3>
                <h3 class="u-align-center u-text u-text-3">Learners</h3>
              </div>
            </div>
            <div class="u-black u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-shape-rectangle u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h3 class="u-align-center u-text u-text-4" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">100+</h3>
                <h3 class="u-align-center u-text u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">100+</h3>
                <h3 class="u-align-center u-text u-text-6">Questions</h3>
              </div>
            </div>
            <div class="u-black u-container-style u-list-item u-opacity u-opacity-95 u-repeater-item u-shape-rectangle u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h3 class="u-align-center u-text u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">99%</h3>
                <h3 class="u-align-center u-text u-text-8" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">99%</h3>
                <h3 class="u-align-center u-text u-text-9">Success Rate</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
  
</body></html>