<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Student Info</title>
    <link rel="stylesheet" href="Admin.css" media="screen">
<link rel="stylesheet" href="Student-Info.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="Admin.js" defer=""></script>
    <meta name="generator" content="Admin 6.5.3, Admin.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/f598ee10179fe7a47ffea40ce625b21d.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Student Info">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-grey-5 u-header u-header" id="sec-4ddd"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="Admin-page.html" class="u-image u-logo u-image-1" data-image-width="250" data-image-height="400">
          <img src="images/f598ee10179fe7a47ffea40ce625b21d.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1.125rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Admin-page.html" style="padding: 10px 20px;">ADMIN PAGE</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Student-Info.html" target="_blank" style="padding: 10px 20px;">ADD STUDENT INFO</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="company-info.html" style="padding: 10px 20px;">ADD COMAPNY INFO</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-black u-border-hover-black u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="#" style="padding: 10px 20px;">VEIW SHORTLISTED STUDENTS</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/admin">ADMIN PAGE</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/studentinfo" >ADD STUDENT INFO</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/addcompany">ADD COMAPNY INFO</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/admin">VEIW SHORTLISTED STUDENTS</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/logout">LOGOUT</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-grey-15 u-section-1" id="carousel_8d19">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-20-lg u-size-20-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="1124" data-image-height="1080">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-align-center u-container-style u-layout-cell u-size-40-lg u-size-40-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <div class="u-form u-form-1">
                    <form method="post" action="/addstudentinfo" class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form">
                      <p class="u-align-center u-form-group u-form-text u-text u-text-1">Add Student Data </p>
                      <div class="u-form-group u-form-name u-form-group-2">
                        <label for="name-3822" class="u-label">First Name</label>
                        <input type="text" placeholder="Enter your First Name" id="name-3822" name="fname" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required="">
                      </div>
                      <div class="u-form-group u-form-name u-form-group-3">
                        <label for="name-3822" class="u-label">Last Name</label>
                        <input type="text" placeholder="Enter your Last Name" id="name-3822" name="lname" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required="">
                      </div>
                      <div class="u-form-group u-form-name">
                        <label for="name-4c18" class="u-label">Student ID</label>
                        <input type="text" placeholder="Enter ID" id="name-4c18" name="uid" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required="">
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-4c18" class="u-label">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-4c18" name="email" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required="">
                      </div>
                      <div class="u-form-group u-form-phone u-form-group-6">
                        <label for="phone-ff00" class="u-label">Phone</label>
                        <input type="tel" placeholder="081234 56789" id="phone-ff00" name="phone" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none" required="" data-country-code="in">
                      </div>
                      <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-7">
                        <label for="number-f568" class="u-label">CGPA</label>
                        <div class="u-input-row" data-value="0">
                          <input value="0" min="0" max="100" step="0.1" type="number" placeholder="" id="number-f568" name="cgpa" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none u-text-black">
                        </div>
                      </div>
                      <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-8">
                        <label for="number-307f" class="u-label">12th Percentage</label>
                        <div class="u-input-row" data-value="0">
                          <input value="0" min="0" max="100" step="0.1" type="number" placeholder="" id="number-307f" name="inter" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none u-text-black">
                        </div>
                      </div>
                      <div class="u-form-group u-form-number u-form-number-layout-number u-form-group-9">
                        <label for="number-29cf" class="u-label">10th Percentage</label>
                        <div class="u-input-row" data-value="0">
                          <input value="0" min="0" max="100" step="0.1" type="number" placeholder="" id="number-29cf" name="high" class="u-border-2 u-border-grey-50 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-none u-text-black">
                        </div>
                      </div>
                      <div class="u-form-group u-form-radiobutton u-form-group-10">
                        <label class="u-label">SEMESTER</label>
                        <div class="u-form-radio-button-wrapper">
                          <div class="u-input-row">
                            <input id="field-2038" type="radio" name="sem" value="6" class="u-field-input" checked="checked"  required="required">
                            <label class="u-field-label" for="field-2038">6th</label>
                          </div>
                          <div class="u-input-row">
                            <input id="field-7974" type="radio" name="sem" value="7" class="u-field-input"  required="required">
                            <label class="u-field-label" for="field-7974">7th</label>
                          </div>
                          <div class="u-input-row">
                            <input id="field-2270" type="radio" name="sem" value="8" class="u-field-input" data-calc="" required="required">
                            <label class="u-field-label" for="field-2270">8th</label>
                          </div>
                        </div> 
                      </div>
                      <div class="u-align-right u-form-group u-form-submit">
                        <a href="/addstudentinfo" class="u-active-black u-border-active-palette-4-light-1 u-border-hover-palette-4-light-1 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-1">Submit&nbsp;</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                                         
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
   
  
</body></html>