 .u-section-1 {
  background-image: linear-gradient(black, #e81a23);
  min-height: 1120px;
}

.u-section-1 .u-image-1 {
  height: 472px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.75);
}

.u-section-1 .u-group-1 {
  width: 726px;
  min-height: 746px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -147px auto 50px calc(((100% - 1140px) / 2) + 207px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  margin: 125px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 153px;
  height: 153px;
  box-shadow: 5px -10px 20px 0 rgba(0,0,0,0.4);
  margin: -223px auto 0;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 363px;
  width: 570px;
  margin: 105px auto 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
  padding: 27px 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 6px auto 0;
  padding: 30px 210px 31px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 8px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: -29px 48px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 207px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: 42px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -212px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-top: 94px;
  }
}